<!DOCTYPE html>
<html>

<head>
  <title>Project</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:5000">I LOVE PET</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:5000">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:5000/pet/enrollment">MY PET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:5000/map">MAP</a>
          </li>
          {% if isAuthenticated %}
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5000/member/mypage" style="padding-left: 25.4cm;">마이페이지</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5000/member/logout">로그아웃</a>
          </li>
          {% else %}
          <li class="nav-item">            
            <a class="nav-link" href="http://localhost:5000/member/login" style="padding-left: 26.3cm;">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5000/member/join">회원가입</a>
          {% endif %}
          </li>
        </ul>
        <span class="navbar-text">
        </span>
      </div>
    </div>
  </nav>
</body>


</html>